mixin gallery()
    .gallery
        .swiper.mySwiper
            .swiper-wrapper
                .swiper-slide
                    img(href="@img/gallery-1.png")
                .swiper-slide Slide 2
                    img(href="@img/gallery-1.png")
                .swiper-slide Slide 3
                    img(href="@img/gallery-1.png")
                .swiper-slide Slide 4
                    | img(href="@img/gallery-1.png")
                .swiper-slide Slide 5
                    | img(href="@img/gallery-1.png")
                .swiper-slide Slide 6
                    | img(href="@img/gallery-1.png")
                .swiper-slide Slide 7
                    | img(href="@img/gallery-1.png")
                .swiper-slide Slide 8
                    | img(href="@img/gallery-1.png")
                .swiper-slide Slide 9
                    | img(href="@img/gallery-1.png")
            .swiper-scrollbar